

.cta_block {
    @include full-width;

    .dots__container {
        display: none;
    }
}

.cta__wrapper {
    display: flex;
    height: calc(100vh - 111px);
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */

    body.is_IE & {
        height: 1px;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    > div {
        flex-shrink: 0; display: flex; align-items: center;
        background-color: $primary; color: $secondary; padding: 60px 6.8vw; position: relative;

        &.element--half { width: 50vw; }
        &.element--full { width: 100vw; justify-content: center; }

        .in {
            position: relative; z-index: 50; width: 100%;
        }

        .scroll__block {
            display: none;
        }
    }

	
    h6{letter-spacing: 0.05em; margin-bottom: 45px; @include font-size(16px,16px );}
    h4{ @include mont('normal'); line-height: 1.625em;}

    h2 {
        display: flex; align-items: center; @include font-size(32px, 64px); letter-spacing: 0; line-height: 1.125em; margin-bottom: 55px;

        img { margin: 0 40px 0 0; width: 80px; height: 80px; position: relative; top: 1px; }
    }


    .scroll__block {
        position: absolute; bottom: -30px; right: 0;
        cursor: pointer; @include transition; width: 100px; height: 30px; display: flex; align-items: center; justify-content: center;

        svg { width: 50px; height: 15px; @include transition; }

        &:hover {

            svg { transform: translateX(50%); }
        }
    }

    .with--bg {

        .overlay {
            opacity: 0.9; z-index: 10;
        }
    }

    .centered--content {

        .dots__sep {
            display: table; margin: 0 auto 30px auto;
        }
    }


    .block__button {

        a {
            @include button('normal');

            &:last-child { margin: 0; }
        }
    }
}

/**********************************************************************/
/* 1400 */
/**********************************************************************/

@media ( max-width: 1400px ) {

    .cta_block {

        br {
            display: none;
        }
		.cta__wrapper {
            height: inherit;
            overflow-x: inherit; margin-bottom: 0;

			> div { padding: 60px 5vw;}

			.with--services .service__element .el__icon { margin-right: 40px;}
		} 
    }

}

/**********************************************************************/
/* 1024px */
/**********************************************************************/

@media ( max-width: $screen-desktop ) {

    .cta__wrapper {
        margin-bottom: 80px; display: block; min-height: 0;

        > div {

            &.element--half { width: 100vw; }

            .scroll__block {
                display: block;
            }
        }
    }
}


/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: $screen-phone ) {

    .blocks__wrapper {
        margin-bottom: 0;

		.with--services .service__element {

            &:last-child { padding-bottom: 0; }

            .el__icon { margin-right: 25px; }
        }
	}
}