.cta_block {
	@include full-width; min-height: 74.5vh; position: relative; z-index: 10;

	.cover--el {
		height: 100%;

		.in__cta {
			height: 100%;

			.cta__element {
				@include container; height: 100%; display: flex; flex-direction: column;
				align-items: flex-end; justify-content: center; 

				.cta__content {
					max-width: 675px; padding-top: 10px;

					h2 { margin-bottom: 10px; line-height: 1;  @include font-size(30px,60px ); @include bird; text-transform: inherit; } 
					h5 { margin-bottom: 10px;}
					h6 {
						@include mont; @include font-size(12px, 14px);
						letter-spacing: 0.05em; text-transform: uppercase;
					}

					p { @include mont; @include font-size(14px, 18px); }

					.cta__btn {
						margin-top: 48px;

						.block__button {

							a {
								@include button('big');

								svg { color: #fff; fill: #fff; }
							}
						}

						.title {
							@include mont('bold'); @include font-size(14px, 18px);
							margin-bottom: 5px; margin-top: 5px;
						}

						.pos--left { display: flex; flex-direction: row-reverse; }
					}
				}
			}
		}

		.filter--blue {
			background-image:linear-gradient(to right, transparent, #27f2318e); height: 100%;
		}

		.filter--orange {
			background-image:linear-gradient(to right, transparent, #c5c5c5); height: 100%;
		}
	}
}
/**********************************************************************/
/* 768 */
/**********************************************************************/

@media ( max-width: $screen-tablet ) {

	.cta_block {
		min-height: 50vh;

		.cover--el {

			.in__cta {

				.cta__element {

					.cta__content {
						max-width: 60vw; padding-top: 10px;

						.cta__btn { margin-top: 20px; }
					}
				}
			}
		}
	}
}

/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: $screen-phone ) {

	.cta_block {

		.cover--el {

			.in__cta {

				.cta__element {
					max-width: 1640px; 

					.cta__content {
						max-width: 100%; padding-top: 10px; display: flex;
						flex-direction: column; width: 100%;

						.cta__btn{
							margin-top: 20px;

							.block__button {
								
								a.button--text { margin-right: 20px; }
							}
						}
					}
				}
			}
		}
	}
}