// main: ../../theme.scss

.partners_block {

	.row__title {
		text-align: center;

		h2 { margin-bottom: 65px; }

		h3 { margin-bottom: 35px; }
	}

	.partner__row {
		margin-bottom: 70px;

		&:last-child { margin-bottom: 50px; }
	}

	.row__partners {
		display: flex; flex-wrap: wrap; justify-content: center; margin: 0 -30px;

		a {
			margin-bottom: 60px; padding: 0 30px; display: flex;
			flex-direction: column; align-items: center; justify-content: center;
		}

		.partner__img {
			@include transition; height: auto; width: auto; max-width: 330px; max-height: 180px;

			&:hover { transform: scale(1.15); }
		}
	}
}