// main: ../../theme.scss

.table__wrapper {
    margin: 20px 0 50px 0;
    @include font-size(13px,14px); @include mont;

    .simple__row {
        display: flex; text-align: center;
        border-bottom: 1px solid #e8e8e8;

        > div { flex: 1; border-left: 1px solid #e8e8e8;  padding: 15px; }

        .row--name {
            flex-shrink: 0; border-left: none; padding: 15px 0;
        }

        &:last-child { border: none; }
    }
}

/**********************************************************************/
/* 768px */
/**********************************************************************/

@media ( max-width: $screen-tablet ) {

    .table__wrapper {

        .simple__row {
            text-align: left; border-bottom: none; flex-wrap: wrap;

            > div { flex: inherit; width: 100%; }
        }
    }
}