// main: ../../theme.scss

/**********************************************************************/
/* FOOTER */
/**********************************************************************/
.footer {
    @include container; margin-top: 50px;
}

.copyright {
    background-color: $primary; color: #fff; padding: 15px;
    @include font-size(9px,10px); @include uppercase; letter-spacing: 0.075em;

    .container { display: flex; align-items: center; justify-content: space-between; }

    .sep { width: 1px; height: 10px; background-color: #fff; display: inline-block; margin: 0 3px; top: 1px; position: relative; }

    a { 
        color: #fff; 
        
        &:hover { color: darken($primary,20%); }
    }
}

.footer-lock svg { width:13px; height: 13px; vertical-align: middle; margin-right: 2px;  position: relative; top: -1px; }

/**********************************************************************/
/* 768 */
/**********************************************************************/

@media ( max-width: $screen-tablet ) {

    .footer { margin-top: 50px; }

    .copyright {
        
        .container { display: block; text-align: center; }
    }
}

/**********************************************************************/
/* 599 */
/**********************************************************************/

@media ( max-width: $screen-phone ) {

}