.woocommerce-shop{
    .page-title{ @include bird; margin-top: 30px;}
    
    .woocommerce-result-count{@include mont;}

    .products{
        display: flex; flex-wrap: wrap; justify-content: space-between;

        .product{
            box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.10); border:1px solid $gray-3; position: relative; padding-bottom: 50px!important;
            

            .add_to_cart_button{ width: 100%; padding:15px 0; text-align: center; @include mont; border-radius: 0; position: absolute;bottom: 0;}

            h2, .price{padding: 0 15px!important; text-transform: inherit; @include mont; text-align: center;}

            .price{ padding-top: 15px!important; @include font-size(14px, 16px); }
        }
    }
}