// main: ../../theme.scss

/**********************************************************************/
/* GENERAL */
/**********************************************************************/

body 	{
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    @include mont;
    color: var(--text-color); background-color: var(--bg-color);
    @include theme_change;
}


a,
input[type="submit"]	{ transition:  all 0.3s ease; }
a, a:hover, a:focus		{ color: $primary; text-decoration: none; }

* 						{ outline: none; box-sizing: border-box; }
a:active 				{ outline: none; }
:-moz-any-link:focus	{ outline: none; }

h1, .h1	{ @include font-size(22px,40px); }
h2, .h2	{ @include font-size(17px,19px); @include mont('normal'); color:$gray-4 }
h3, .h3	{ @include font-size(18px,28px); }
h4, .h4	{ @include font-size(16px,24px); }
h5, .h5	{ @include font-size(15px,20px); }
h6, .h6	{ @include font-size(14px,16px); }

h1,h2,h3,h4,h5,h6 { margin: 0 0 15px 0; line-height: 1.3;}

.content {
    p, ul, ol	{ line-height: 1.5; margin: 0 0 15px 0; letter-spacing: 0.7px; @include font-size(10px, 12px);}

    ul:not([class])  {
        list-style-type: none; padding: 0 0 0 18px;

        li:not([class]) {
             position: relative; margin: 0 0 8px 0;

            &:before {
                content: ""; width: 8px; height: 5.5px; float: left;
                position: absolute; left: -18px; top: 10px; background-color: $dark;
            }
        }
    }


    img {
        max-width: 100%; height: auto;
    }
}

::selection			{ background-color: $primary; color: #fff; }
::-moz-selection	{ background-color: $primary; color: #fff; }
::-webkit-scrollbar			{ width: 14px; }
::-webkit-scrollbar-track	{ background-color: #dfdfdf; }
::-webkit-scrollbar-thumb	{ background-color: $primary; outline: none; }

.page-wrapper { overflow: hidden; }

.main { @include transition; }

.container { @include container; }

.block__button {
    display: flex;

    a { margin: 0 15px 0 0; }

    .pos--left {

        svg { margin: 0 6px 0 0; }
    }
}

.button--link, .gform_button, .block__button a {
	@include button('color-slider');
}

.slick-arrow {
    border: none; background: none; cursor: pointer; @include transition;

    svg {
        width: 30px; height: 30px; color: #fff; @include transition;
    }

    &:hover {

        svg {
            width: 40px; height: 40px;
        }
    }
}

.slick-dots{
	padding: 0; margin: 0;
	list-style-type: none;
    display: flex;
    position: absolute; bottom: 10px; left: 90px;

	li{
		margin: 0 7px 0 0;

		&:first-child:last-child{ display: none; }

		button{
			padding: 0; margin: 0; background: none; outline: none;
			border: none; height: 4px; @include transition;
			width: 60px; font-size: 0; background-color: #fff;
			position: relative;
			cursor: pointer;


		}

		&.slick-active button {
			background-color: $green;
		}
	}
}

.page__layouts {

    .par__flex {

        .in__intro {
            margin-bottom: 40px;
        }

        &.custom--spacing {
            padding-top: initial; padding-bottom: inherit;
        }

        &.with--color {

            *:not(a) { color: inherit; }
        }

        &.size--full {
            @include full-width;

            .cols--1 {
                //margin-left: 0; margin-right: 0;

                .item--text {
                    padding: 0 30px;
                }
            }
        }
    }
}


.mobile__dev { display: none; }

.cf:before,
.cf:after	{ content:""; display:table; }
.cf:after	{ clear:both; }
.cf 	 	{ zoom:1; }

.clearboth 		{ display: block; margin: 0; padding: 0; clear: both; }
.alignleft 		{ float: left; margin-right: 10px; }
.alignright 	{ float: right; margin-left: 10px; }
.aligncenter	{ margin-left: auto; margin-right: auto; display: block; }


// .night__toggle {
//     position: fixed; bottom: 15px; right: 15px;
//     width: 50px; height: 50px; border-radius: 50%;
//     background-color: $primary; color: #fff;
//     display: flex; align-items: center; justify-content: center;
//     z-index: 999;
// }


/**********************************************************************/
/* 1024 */
/**********************************************************************/

@media ( max-width: $screen-desktop ) {

    body {
        width: 100%; height: 100vh;

       .mobile__dev {
            background-color: rgba(#ccc,0.98); position: absolute; top:0; bottom: 0; left: 0; right: 0;
            z-index: 99999; font-size: 13px; display: flex; align-items: center; justify-content: center; padding: 30px; @include uppercase;
            flex-direction: column; text-align: center;

            svg { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 75%; height: 75%; opacity: 0.05; }

            span { line-height: 1.4; }
        }
    }
}