@mixin button( $style: 'normal'){

    border: 1px solid $secondary; display: flex; padding: 14px 20px; border-radius: 10px; color: $gray-7; text-transform: uppercase; 
    font-size: 1rem;  letter-spacing: 0.05rem; transition: all .3s; position: relative; overflow: hidden; z-index: 1; @include mont('normal');
    justify-content: center; align-items: center; @include font-size(15px, 16px); max-width: 250px; cursor: pointer;

    &:after { 
        content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; 
        border-radius: 10px; z-index: -2;
    }

    &:before { 
        content: ''; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background-color: $primary; 
        transition: all .3s; border-radius: 10px; z-index: -1;
    }

    &:hover { 	
        color: #fff; border: 1px solid #fff;

        svg { transform: translateX(-150%); opacity: 0;  visibility: hidden;  margin-left: -20px;  }
        &:before {
            width: 100%;
        }
     }
    
    @if $style == 'slider' {
         color: $white; border: 1px solid $dark; background-color: $primary;

         &:after { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background-color: $primary; 
            border-radius: 10px; z-index: -2;
        }
    
        &:before { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background-color: #fff; 
            transition: all .3s; border-radius: 10px; z-index: -1;
        }
		
        &:hover {
             color: $primary; border: 1px solid $primary;
            &:before {
                width: 100%;
              }
        }
    }

    @if $style == 'yellow' {
            color: $secondary;  border: 1px solid $secondary; 

         
        &:after { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background-color:rgba(0, 128, 0, 0); 
            border-radius: 10px; z-index: -2; 
        }
        
        &:before { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background-color: $secondary; 
            transition: all .3s; border-radius: 10px; z-index: -1;
        }
        &:hover {
            color: $primary; border: 1px solid rgba(0, 0, 0, 0);
        }
    }
    @if $style == 'gray' {
            color: $gray-3;  border: 1px solid $gray-3; background-color: inherit; position: relative;

         
        &:after { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; background-color:rgba(0, 128, 0, 0); 
            border-radius: 10px; z-index: -2; 
        }
        
        &:before { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background-color: $gray-3; 
            transition: all .3s; border-radius: 10px; z-index: -1;
        }
        &:hover {
            color: #fff; border: 1px solid rgba(0, 0, 0, 0);
            &:before {
                width: 100%;
            }
        }
    }
    @if $style == 'link' {
            color: $secondary;  border: 0px solid $secondary; justify-content: flex-start; align-items: flex-start; padding: 0; border: inherit;
            letter-spacing: 0.05em; border-radius: 0;

        &:after {
            content: ""; width: 10%; height: 0; background-color: $secondary; border-radius: 0; 
            @include transition; position: absolute; bottom: 0px; left: 0; z-index: 5;
        } ;
        
        &:before { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background-color: $secondary; 
            transition: all .3s; border-radius: 10px; z-index: -1; 
        }
        &:hover {
            border: inherit; color: #fff;
            &:before {
                width: 0%;
            }
            
        }
    }
    @if $style == 'link-2' {
        color: $primary;  border: 0px solid $primary; justify-content: flex-start; align-items: flex-start; padding: 0; border: inherit;
        letter-spacing: 0.05em; border-radius: 0; text-transform: uppercase;

        &:after {
            content: ""; width: 10%; height: 0; background-color: $primary; border-radius: 0; 
            @include transition; position: absolute; bottom: 0px; left: 0; z-index: 5;
        } ;

        &:before { 
            content: ''; position: absolute; bottom: 0; left: 0; width: 0%; height: 100%; background-color: $primary; 
            transition: all .3s; border-radius: 10px; z-index: -1; 
        }
        &:hover {
            border : inherit; color: $secondary;
            &:before {
                width: 0%;
            }
        }

    }

}